*{
    margin: 0;
}

.body{
  background-image: url(background.avif);
}
.navbar{
    width: 100%;
    height: 50px;background-color: black;
}
.navbarcontainer{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 50px;
    height: 100%;
    color: white;
}
.logo-container{
    flex: 1;
    background-color: BLACK;
  
}
.logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: green;
    

}

.menu-container{
    flex: 6;
    
}

.menu-list{
    display: flex;
    list-style: none;

}
.menu-list-item{

    margin-right: 30px;
}
.menu-list-item.active{
    font-weight: bold;
}
.profile-container{
    flex: 3;
    display:flex;
    align-items: center;
    background-color: black;
    justify-content: flex-end;
}
.profile-text-container{
  margin: 0 20px;

}
.profile-picture{
  width: 30px;
  height: 32px;
  border-radius: 50%;
}
.toggle{
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.toggle-icon{
  color: goldenrod;
}
.toggle-ball{
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  
}
.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0cm;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}
.left-menu-icon{
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}
.container{
  background-color: grey;
  height: calc(100vh - 50px) ;
}
.content-container{
  margin-left: 50px;
}
.featured-movies{
  height: 50vh;
  background-color: tomato;
}




 